{% comment %} {%extends "base.html"%} {% endcomment %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Recipe project</title>
    <style>table, th, td {
      border: 1px solid black;
    }</style>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">
  </head>
  <body>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    
    <script src="" async defer></script>
  </body>
</html>
{%block start%}
<div class = "container mt-5">

<form class = "col-6 mx-auto card" method= "post" enctype="multipart/form-dat">
  {%csrf_token%}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Recipe name</label>
      <input name="recipe_name" required type="text" class="form-control" >
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Recipe description</label>
      <textarea class ="form-control" name ="recipe_description" required></textarea>
    </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Recipe image</label>
        <input name="recipe_image" type ="file" class = "form_control">
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
   {{recipesssss}}
   <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Recipe name</th>
        <th scope="col">Recipe Desc</th>
        <th scope="col">Image</th>
      </tr>
    </thead>
    <tbody>
     {% for recipe in recipesssss%}
      <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{recipe.recipe_name}}</td>
        <td>{{recipe.recipe_description}}</td>
        <td>{{recipe.recipe_image}}</td>
      </tr>
      {%endfor%}
    </tbody>
  </table>
  
{%endblock%}